<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bike-urious</title>
	<link rel='stylesheet' href='../bower_components/dist/fullcalendar/dist/fullcalendar.css'>
  <script src='../bower_components/jquery/dist/jquery.min.js'></script>
  <script src='../bower_components/moment/min/moment.min.js'></script>
  <script src="../bower_components/handlebars/handlebars.js"></script>
  <script src='../bower_components/fullcalendar/dist/fullcalendar.js'></script>
  <script src="main.js"></script>

</head>
<body>
	
</body>
</html>